html, body {
  background-color: lightgray;
  height: 100%;
  width: 100vw;
}



.feature {
    display: grid;
    padding: 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(3rem, 10fr));
    column-gap: 0.5rem;
}

.item {

    margin: 4px;
    padding: -4px;
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
    text-transform: uppercase;
    border-radius: 15.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    transition: all .2s;

  &--1 {
    background-color: blue;
  }

  &--2 {
    background-color: purple;
  }

  &--3 {
    background-color: red;
  }

  &--4 {
    background-color: green;
  }

  &--5 {
    background-color: teal;
  }

  &--6 {
    background-color: navy;
  }



  &:hover {
    background-color: lightgray;
    color: gray;
    transform: translate(0,-0.3rem);
    box-shadow: 0 1rem 4rem rgba(0,0,0,.50);
  }
}