{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container">
  <div class="feature">
   {% for i, j in main_list %}
        <div type="button" class="item item--1" onclick="document.getElementById('{{ j }}').play()">
            <audio id="{{ j }}" preload="auto">
                <source src="{% static 'audio/' %}{{ i }}" type="audio/mpeg">
            </audio>
            <a class="href" style="text-decoration: none; cursor: pointer">{{ j }}</a>
        </div>
    {% endfor %}
  </div>
</div>





{% endblock content %}

